body {
  background-color: #55b491;
}
.greenBoxContainer {
  text-align: center;
}

.greenBox {
  background: green;
  width: 200px;
  height: 200px;
  display: inline-block;
}

.blue {
  width: 300px;
  background: blue;
  margin: 0 auto;
  word-wrap: break-word;
}
